/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

/* Atrribution */

.attribution {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	margin-inline: auto;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
